.Iniciar-ocult {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    justify-content: center;
    align-items: center;
}
.Registrar-ocult {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    justify-content: center;
    align-items: center;
}
  
  .ocult-content {
    background-color: #ffffff;
    background-size: 500%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }